@font-face {
    font-family: 'Oswald';
    src: url(fonts/Oswald-Regular.ttf);
}

html {
    font-family: 'Oswald';
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;;
    color: white;
}

header{
    width: 100%;
    background-color: ##535559;
}

#logo{
    width: 72px;
    padding: 4px;
    border: 2px solid white;
    float: left;
}
.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    position: relative;
    top: 450px;
}

body {
	margin: 0;
  height: 100%;
  background-color: #535559;
}

.active {
    color: black;
		text-decoration: underline;
}

.music{
	background-color: #535559;
}
